<div class="container">
    <div class="wrapper">
        <form class="convert-app">

            <div class="choose-value">
                <div class="form-group">
                    <label>Give</label>
                    <select class="form-control" 
                            ng-model="cc.currencyGiveName" 
                            ng-click="cc.convertMoney()"
                            ng-options='item.ccy as item.ccy for item in cc.currency | currencyFilter: cc.currencyReceiveName'>
                    </select>
                </div>

                <button type="button" class="btn btn-outline-primary" ng-click='cc.swapCurrency()'>
                    <i class="fas fa-exchange-alt"></i>
                </button>

                <div class="form-group">
                    <label>Receive</label>
                    <select class="form-control" 
                            ng-model="cc.currencyReceiveName" 
                            ng-click="cc.convertMoney()"
                            ng-options='item.ccy as item.ccy for item in cc.currency | currencyFilter: cc.currencyGiveName '>
                    </select>
                </div>
            </div>

            <div class="choose-sum">

                <div class="form-group">
                    <label>How much trade</label>
                    <input type="number" 
                        class="form-control" 
                        min='1'
                        placeholder="0.00" 
                        ng-model="cc.tradeValue" 
                        />
                </div>

                <p>or</p>

                <div class="form-group">
                    <label>How much receive</label>
                    <input type="number" 
                        class="form-control" 
                        placeholder="0.00"
                        ng-model="cc.receiveValue" 
                        readonly
                        />
                </div>

            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Commission</label>
                </div>
                <select class='select' ng-model='cc.commission'>
                    <option ng-repeat='value in cc.constantsFee'>{{ value }}</option>
                </select>
            </div>

            <div class="button col text-center">
                <button class="btn btn-secondary button col-xs-4 col-md-4 col-lg-4" ng-click='cc.send()'>Buy</button>
            </div>

        </form>
        
    </div>
</div>