footer-test {
    position: fixed;
    bottom: 0;

    width: 100%;
    height: 60px;

    padding: 15px 0;
    background-color: #007bff;

    .nav-link {
        line-height: 18px;
        color: #fff;
        cursor: pointer;
    } 
}