<div class="shadow card">
  <div class="card-body">
    <h5 class="card-title">Weather widget</h5>
    <table class="text-left table table-borderless table-striped" ng-show="weatherCtrl.weatherData.temp">
      <tbody>
        <tr>
          <th scope="row">Temp:</th>
          <td>{{ weatherCtrl.weatherData.temp }}°C</td>
        </tr>
        <tr>
          <th scope="row">Feel like:</th>
          <td>{{ weatherCtrl.weatherData.feelLike }}°C</td>
        </tr>
        <tr>
          <th scope="row">Wind:</th>
          <td>{{ weatherCtrl.weatherData.wind }}m/s</td>
        </tr>
        <tr>
          <th scope="row">Direction:</th>
          <td>{{ weatherCtrl.weatherData.dir }}</td>
        </tr>
        <tr>
          <th scope="row">City:</th>
          <td>{{ weatherCtrl.weatherData.city }}</td>
        </tr>
        <tr>
          <th scope="row">Country:</th>
          <td>{{ weatherCtrl.weatherData.country }}</td>
        </tr>
      </tbody>
      </table>
      <form>
        <div class="input-group">
          <input
            ng-autocomplete 
            type="text" 
            class="form-control"
            ng-model="weatherCtrl.selectedLocation" 
            details="weatherCtrl.autocomplete.details"
            placeholder="Enter location">

          <div class="input-group-append">
            <button
              type="button"
              class="btn btn-outline-secondary"
              ng-click="weatherCtrl.getForecastForSelected()"
            >
              <i class="fas fa-search"></i>
            </button>

            <button
              type="button"
              class="btn btn-outline-secondary"
              ng-click="weatherCtrl.getForecastForLocal()"
            >
              <i class="fas fa-location-arrow"></i>
            </button>
          </div>
        </div>
      </form>
  </div>
</div>
