<div class="container pt-5">
        <div class="row mx-auto">
            <div class="d-flex align-items-center col-xs-12 col-sm-12 col-md-10 col-lg-10">
                <div class="pt-5 col-6">
                  <form class=" border rounded w-100" name='loginForm' novalidate>
                      <div class="input-wrapper">
                        <div class="form-group w-100 p-3">
                            <label for="email">Login</label>
                            <input class="form-control" type="email" name="email" ng-model='user.email' placeholder="example@mail.com" required>
                            <div class="help-block text-danger" ng-messages="loginForm.email.$error" role="alert">
                                    <div ng-message="email">This field must be a valid email address.</div>
                            </div>
                        </div>
                        <div class="form-group w-100 p-3">
                            <label for="password">Password:</label>
                            <input ng-minlength="6" class="form-control" type="password" name="password" ng-model='user.password' placeholder="Password" required>
                            <div class="help-block text-danger" ng-messages="loginForm.password.$error" role="alert">
                                    <div ng-message="minlength"> Password must include minimum 6 characters.</div>
                            </div>
                            <small class="help-block text-info forgot-pass" ng-click="forgotPass()">
                                Forgot your password?
                            </small>
                        </div>
                      </div>
                      <div class="form-group sign-up-form__group col-xs-12 col-md-12 col-lg-12 mb-3">
                        <button class="btn btn-info btn-block" type="button" ng-click="signInCtrl.signIn()">Sign In</button>
                    </div>
                  </form>
                </div>
                <div class="mx-auto">
                    <h4 class="mb-3">Not a member yet?</h4>
                    <a class="btn-lg btn-primary text-decoration-none" ui-sref="sign-up" href="#"><i class="fas fa-user"></i> Sign up now!</a>                
                </div>
            </div>
        </div>
</div>